html,
body {
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}
.nav {
  text-align: center;
}
.nav li {
  float: left;
  width: 25%;
  padding: 12px 0 10px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #ededed;
  border-left: 1px solid #ededed;
}
.nav li:nth-child(4n+1) {
  border-left: none;
}
.nav a {
  display: inline-block;
  min-width: 64px;
  font-size: 10px;
  color: #333333;
}
.nav a:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  margin: 0 auto 9px;
  background: url(../images/icon2.png) no-repeat;
  background-size: 50px 1000px;
}
.nav .icon-1 a:before {
  background-position: center 6px;
  background-color: #ff565b;
}
.nav .icon-2 a:before {
  background-position: center -48px;
  background-color: #fd8e35;
}
.nav .icon-3 a:before {
  background-position: center -102px;
  background-color: #f5c132;
}
.nav .icon-4 a:before {
  background-position: center -156px;
  background-color: #6cc143;
}
.nav .icon-5 a:before {
  background-position: center -211px;
  background-color: #7b7ad7;
}
.nav .icon-6 a:before {
  background-position: center -266px;
  background-color: #fe8a66;
}
.nav .icon-7 a:before {
  background-position: center -320px;
  background-color: #42bde8;
}
.nav .icon-8 a:before {
  background-position: center -374px;
  background-color: #01d1d1;
}
.housepic_top {
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  padding-left: 13px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ededed;
}
.housepic_mian span:nth-of-type(1) {
  display: block;
  padding: 4.0625% 2.96875% 2.8%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.housepic_mian span:nth-of-type(1) a:nth-of-type(1) {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.housepic_mian span:nth-of-type(1) a:nth-of-type(1) img {
  width: 100%;
  max-height: 210px;
}
.housepic_mian span:nth-of-type(1) a:nth-of-type(2) {
  display: block;
  position: absolute;
  bottom: 9.28125%;
  right: 5.8125%;
  width: 10px;
  height: 18px;
  border-radius: 2px;
  background: url(../images/housepic_button.png) 4px center no-repeat;
  background-size: 10px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-left: 18px;
  font-size: 10px;
}
.housepic_mian span:nth-of-type(2) {
  display: inline-block;
  padding: 0 1.96875% 2.8% 2.96875% ;
  width: 49.5%;
  box-sizing: border-box;
  position: relative;
}
.housepic_mian span:nth-of-type(2) a:nth-of-type(1) {
  display: inline-block;
  overflow: hidden;
}
.housepic_mian span:nth-of-type(2) a:nth-of-type(1) img {
  max-width: 100%;
  max-height: 100%;
}
.housepic_mian span:nth-of-type(2) a:nth-of-type(2) {
  display: block;
  position: absolute;
  bottom: 12.28125%;
  right: 5.8125%;
  width: 10px;
  height: 18px;
  border-radius: 2px;
  background: url(../images/housepic_button.png) 4px center no-repeat;
  background-size: 10px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-left: 18px;
  font-size: 10px;
}
.housepic_mian span:nth-of-type(3) {
  display: inline-block;
  padding: 0 2.96875% 2.8% 1.96875% ;
  width: 49.5%;
  box-sizing: border-box;
  position: relative;
}
.housepic_mian span:nth-of-type(3) a:nth-of-type(1) {
  display: inline-block;
  overflow: hidden;
}
.housepic_mian span:nth-of-type(3) a:nth-of-type(1) img {
  max-width: 100%;
  max-height: 100%;
}
.housepic_mian span:nth-of-type(3) a:nth-of-type(2) {
  display: block;
  position: absolute;
  bottom: 12.28125%;
  right: 5.8125%;
  width: 10px;
  height: 18px;
  border-radius: 2px;
  background: url(../images/housepic_button.png) 4px center no-repeat;
  background-size: 10px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-left: 18px;
  font-size: 10px;
}
.nav_button_1 {
  text-align: right;
  margin: 0 2.96875% 0 0 ;
}
.nav_button_1 a:nth-of-type(1) {
  background: #ffc508 url(../images/nav_button.jpg) 0 0 no-repeat;
  background-size: 16px 37px;
}
.nav_button_1 a {
  display: inline-block;
  width: 17.875%;
  min-width: 48px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  color: #666666;
  background-color: #ededed;
  margin-left: 0.78125%;
}
.link {
  display: block;
  margin: 18px 2.96875% 18px 2.96875%;
  border-bottom: 1px dashed #bbbbbb;
}
.nav_button_2 {
  text-align: right;
  margin: 0 2.96875% 0 0 ;
}
.nav_button_2 a:nth-of-type(1) {
  background: #fa4e3e url(../images/nav_button.jpg) 0 -19px no-repeat;
  background-size: 16px 37px;
}
.nav_button_2 a {
  display: inline-block;
  width: 17.875%;
  min-width: 48px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  font-size: 10px;
  color: #666666;
  background-color: #ededed;
  margin-left: 0.78125%;
}
.bottom_button {
  text-align: center;
  margin: 11px 0 25px 0 ;
}
.bottom_button a {
  display: inline-block;
  width: 46.875%;
  height: 16.5%;
  font-size: 12px;
  color: #666666;
  border: 1px solid #bbbbbb;
}
.bottom_button a:nth-of-type(1) {
  background: url(../images/nav_button.png) 25% -6px no-repeat;
  background-size: 16px 43px;
  border-radius: 6px 0 0 6px;
}
.bottom_button a:nth-of-type(2) {
  color: #fa4c3b;
  position: relative;
  border-radius: 0 6px 6px 0 ;
}
.bottom_button a:nth-of-type(2):after {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  border-top: 2px solid #fa4c3b;
  border-right: 2px solid #fa4c3b;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: 4px;
  right: 18.15625%;
}
.decorating_wrap {
  background-color: #f8f8f8;
  width: 100%;
  padding: 7.8125% 2.96875% ;
  box-sizing: border-box;
}
.decorating {
  background-color: white;
  border: 1px solid #ededed;
  border-top: 1px solid #ffb039;
  border-radius: 6px;
  box-sizing: border-box;
}
.decorating p {
  width: 94.33333333333333%;
  margin: 2% auto 0;
  text-align: center;
  font-size: 14px;
}
.decorating p:nth-of-type(1) {
  background: url(../images/decor_button.png) 20.15625% -24px no-repeat;
  line-height: 45px;
  color: #333333;
  letter-spacing: 2px;
}
.decorating li:nth-of-type(1) input {
  width: 45.1875%;
  margin: 0 2.65625%;
  border-radius: 4px;
  line-height: 30px;
  border: 1px solid #bbbbbb;
}
.decorating li:nth-of-type(1) a {
  float: right;
  display: inline-block;
  width: 45.1875%;
  height: 30px;
  line-height: 30px;
  margin-right: 2.65625%;
}
.decorating li:nth-of-type(1) select {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #bbbbbb;
}
.decorating li:nth-of-type(2) {
  margin: 2.65625% 2.65625% ;
}
.decorating li:nth-of-type(2) a {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.decorating li:nth-of-type(2) select {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #bbbbbb;
}
.decorating li:nth-of-type(3) {
  margin: 2.65625% 2.65625% ;
}
.decorating li:nth-of-type(3) a {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.decorating li:nth-of-type(3) select {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #bbbbbb;
}
.decorating .now_button {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  background-color: #fa4e3e;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 4%;
}
.strategy p {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
  box-sizing: border-box;
  line-height: 36px;
  background-color: #f8f8f8;
  padding-left: 2%;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.strategy .strategy_nav {
  padding: 0 2.96875% ;
}
.strategy .strategy_nav a {
  float: left;
  display: inline-block;
  width: 46.375%;
  height: 9.375%;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  background: url(../images/icon2.png) no-repeat;
  background-size: 37.5px 750px;
}
.strategy .strategy_nav a:nth-of-type(2n) {
  margin-left: 3.75%;
  float: right;
}
.strategy .strategy_nav .button_1 {
  background-position: 25.625% -592px;
}
.strategy .strategy_nav .button_2 {
  background-position: 25.625% -638px;
}
.strategy .strategy_nav .button_3 {
  background-position: 25.625% -685px;
}
.strategy .strategy_nav .button_4 {
  background-position: 25.625% -732px;
}
.strategy_list {
  margin: 3% 2.96875%;
  border: 1px solid #ededed;
}
.strategy_list li {
  width: 100%;
  margin-top: 3%;
}
.strategy_list li img {
  float: left;
  width: 31.25%;
  height: 20.78125%;
}
.strategy_list li span {
  float: right;
  display: inline-block;
  width: 59.375%;
}
.strategy_list li span em {
  margin-top: 2%;
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}
.strategy_list li span var {
  margin-top: 1%;
  display: block;
  font-size: 10px;
  font-style: normal;
  color: #666666;
  overflow:  hidden;
  text-overflow:  ellipsis;
  -webkit-line-clamp:  2;
  -webkit-box-orient:  vertical;
}
.strategy_bottom {
  margin: 2.96875%;
  box-sizing: border-box;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: center;
}
.strategy_bottom img {
  display: block;
  width: 80%;
  height: 19.0625%;
  margin: 6.25% auto ;
}
.strategy_bottom a {
  display: inline-block;
  width: 28%;
  font-size: 14px;
  color: #333333;
  text-align: center;
}
.strategy_pic {
  display: block;
  width: 100%;
  height: 22.03125%;
}
.grabble {
  margin: 2.96875% 2.96875% 0;
  text-align: center;
}
.grabble input {
  display: inline-block;
  width: 66.625%;
  line-height: 26px;
  border: 1px solid #ededed;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 6px 0 0 6px ;
}
.grabble a {
  display: inline-block;
  width: 28.96875%;
  line-height: 26px;
  background-color: #fa4e3e;
  border-radius: 0 6px 6px 0;
  color: white;
}
.grabble a:hover {
  background-color: #dc3020;
}
.grabble dl {
  margin-top: 2%;
}
.grabble dl dt {
  font-size: 12px;
  color: #333333;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 10px;
  line-height: 20px;
}
.grabble dl dd {
  border-bottom: 1px solid #d9d9d9;
}
.grabble dl em {
  font-size: 10px;
  color: #fa5040;
  line-height: 30px;
  float: left;
  margin-left: 18px;
}
.grabble dl span {
  display: inline-block;
  font-size: 10px;
  color: #707070;
  float: right;
  line-height: 30px;
  margin-right: 20px;
  width: 50px;
  position: relative;
}
.grabble dl span:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid #707070;
  position: absolute;
  top: 10px;
  left: 1px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.news p {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
  box-sizing: border-box;
  line-height: 36px;
  background-color: #f8f8f8;
  padding-left: 2%;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.news .news_main {
  margin: 2.96875% 2.96875% ;
}
.news .news_main li {
  width: 100%;
}
.news .news_main li span {
  float: left;
  font-size: 12px;
  color: #666666;
  letter-spacing: 1px;
  line-height: 30px;
  display: inline-block;
  width: 80.9375%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .news_main li var {
  float: right;
  font-style: normal;
  font-size: 12px;
  color: #999999;
  line-height: 30px;
}
.calculator {
  background-color: #f8f8f8;
}
.calculator p {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
  box-sizing: border-box;
  line-height: 36px;
  background-color: #f8f8f8;
  padding-left: 2%;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.calculator li {
  float: left;
  display: inline-block;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  width: 33%;
  padding: 12px 0 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
}
.calculator li:nth-child(3n+1) {
  border-left: none;
}
.calculator li a {
  display: inline-block;
  min-width: 64px;
  font-size: 10px;
}
.calculator li a:before {
  display: block;
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin: 0 auto 9px;
  background: url(../images/icon2.png) no-repeat;
  background-size: 50px 1000px;
}
.calculator .icon1 a:before {
  background-position: center -430px;
  background-color: #fd9500;
}
.calculator .icon2 a:before {
  background-position: center -484px;
  background-color: #4bc1d2;
}
.calculator .icon3 a:before {
  background-position: center -536px;
  background-color: #6aca2a;
}
.calculator .icon4 a:before {
  background-position: center -592px;
  background-color: #00abfb;
}
.calculator .icon5 a:before {
  background-position: center -648px;
  background-color: #cd6fe3;
}
.calculator .icon6 a:before {
  background-position: center -702px;
  background-color: #f35050;
}
.calculator img {
  display: block;
  width: 100%;
  height: 22.03125%;
  margin-top: 5%;
}
.last_button {
  background-color: #f8f8f8;
  padding: 4% 2.96875% 0;
  text-align: center;
}
.last_button > a {
  margin-top: 4%;
  display: inline-block;
  width: 57.03125%;
  line-height: 30px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #666666;
}
.last_button > a em {
  color: #fa4a39;
}
.last_button p {
  margin-top: 4%;
  color: #666666;
}
.last_button h2 {
  margin-top: 4%;
  margin-bottom: 2%;
  color: #5ac1f4;
}
.last_top a {
  display: inline-block;
  width: 26.25%;
  height: 7.8125%;
  line-height: 26px;
  text-align: center;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #333333;
}
.last_top a:nth-of-type(2) {
  margin: 0 7.8125% ;
}
.fixedbutton {
  position: fixed;
  right: 3.75%;
  bottom: 5%;
}
.fixedbutton .fixedbutton_1 {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/fixedbutton_1.png) no-repeat;
  background-size: 40px 40px;
  margin-bottom: 30%;
}
.fixedbutton .fixedbutton_2 {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/fixedbutton_2.png) no-repeat;
  background-size: 40px 40px;
}
